.projects {
  @apply max-w-5xl px-5 pt-14 lg:px-0 lg:pt-20;

  & .project {
    @apply relative mb-10 flex w-full flex-col items-end justify-end lg:mb-16 lg:flex-row;

    & .contentWrapper {
      @apply overflow-hidden rounded-xl border border-gray-800 bg-gray-950 shadow-lg;
      @apply left-0 z-20 lg:absolute lg:border-none lg:bg-transparent lg:shadow-none;

      & .image {
        @apply w-full grayscale-[1] filter hover:grayscale-0 lg:hidden;
        @apply border border-gray-800 shadow;
        @apply transition-all duration-500;
      }

      & .content {
        @apply p-4 lg:p-0;

        & .title {
          @apply mb-3 font-mono text-2xl font-bold lg:mb-5;
        }

        & .description {
          @apply border-gray-800 bg-gray-950 text-gray-400 lg:border;
          @apply lg:rounded-xl lg:shadow-xl;
          @apply w-11/12 pb-1 text-sm leading-6;
          @apply lg:w-[30rem] lg:px-5 lg:py-5 lg:text-base;
        }

        & .tags {
          @apply flex flex-wrap justify-start text-primary-500 lg:pl-1;
          & .tag {
            @apply mr-4 mt-3 font-mono text-xs lg:mt-5 lg:text-sm;
          }
        }

        & .links {
          @apply flex space-x-7 pt-5 text-gray-400;
          & .link {
            @apply font-mono text-sm;

            &:hover {
              & .icon {
                @apply text-white;
                @apply transition-all duration-300;
              }
            }

            & .icon {
              @apply h-5 w-5 stroke-2 lg:h-6 lg:w-6;
              @apply transition-all duration-300;
            }
          }
        }
      }
    }

    & .imageWrapper {
      @apply relative hidden overflow-hidden rounded-xl border border-gray-900 lg:block lg:w-3/5;

      & .image {
        @apply w-full grayscale-[1] filter hover:grayscale-0;
        @apply border border-gray-800 shadow;
        @apply transition-all duration-500;
      }
    }
  }
}
