@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 scroll-smooth bg-gray-950 p-0;
  }

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* TODO: add scrollbar-hide and scrollbar-default classes */
    scrollbar-width: none;
    outline: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}
