.wrapper {
  & .navigation {
    @apply absolute bottom-0 right-0 top-0 lg:relative;
    @apply flex flex-col justify-start;
    @apply lg:flex-row lg:items-center lg:justify-end lg:space-x-3;
    @apply border border-gray-800 bg-black bg-opacity-90 lg:border-none lg:bg-transparent lg:bg-opacity-100;
    @apply h-screen w-0 pt-12 lg:h-auto lg:w-fit lg:py-3;
    @apply transition-all duration-500;

    & .item {
      @apply rounded-full px-6 py-3 font-medium lg:px-2.5;
      @apply cursor-pointer text-gray-400 hover:text-white;
      @apply text-[15px] transition-colors duration-500;
    }
  }

  & input {
    @apply hidden;
  }

  & input:checked ~ .navigation {
    @apply w-52;
  }

  & .label {
    @apply z-50 block h-20 max-h-[4.25rem] w-20 max-w-[4.25rem] cursor-pointer lg:hidden;
    @apply absolute right-0 top-0;
  }

  & path {
    @apply stroke-white;
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  & .cross input:checked + .label svg {
    & .line1,
    & .line3 {
      --length: 22.627416998;
    }
    & .line2 {
      --length: 0;
    }
  }

  & .back input:checked + .label svg {
    & .line1,
    & .line3 {
      --length: 8.602325267;
    }
  }

  & .menu {
    & .line1,
    & .line3 {
      --total-length: 126.64183044433594;
    }
    & .line2 {
      --total-length: 70;
    }
    & input:checked + .label svg {
      & .line1,
      & .line3 {
        --offset: -94.1149185097;
      }
      & .line2 {
        --offset: -50;
      }
    }
  }
}
